11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [2]:
import zoo

zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [3]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title TEXT PRIMARY KEY, 
    author TEXT, 
    year INT)''')

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [5]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\kelle\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kelle\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import sqlalchemy as sa

conn = sa.create_engine('sqlite://')

conn.execute('''CREATE TABLE books
    (title TEXT PRIMARY KEY, 
    author TEXT, 
    year INT)''')

ins = 'INSERT INTO books (title, author, year) VALUES (?, ?, ?)'
conn.execute(ins, '1984', 'George Orwell', 1949)
conn.execute(ins, 'Brave New World', 'Aldous Huxley', 1932)
conn.execute(ins, 'To Kill a Mockingbird', 'Harper Lee', 1960)

rows = conn.execute('SELECT title FROM books ORDER BY title')

for row in rows:
    print(row[0])

1984
Brave New World
To Kill a Mockingbird